@charset "utf-8";

/* common
------------------------------ */
body {
  font-family: Arial;
}

.inner {
  width: 900px;
  margin: 0 auto;
}

/* wrap
------------------------------ */

/* headerbar
------------------------------ */
#headerbar {
  background-color: #000000;
  margin-bottom: 35px;
}

#headerbar p {
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 3px 0;
  line-height: 1.5;
}


/* header
------------------------------ */
#header {
  margin-bottom: 15px;
}

#header h1 {
  float: left;
  margin: 0;
}
#header .utilityNav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#iconTwitter,
#iconFeed {
  display: inline-block;
  text-indent: -9999em;
}

#iconTwitter a,
#iconFeed a  {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/icons.png) no-repeat;
  background-position: 0 0;
}

#iconTwitter a {
  background-position: 0 0;
}

#iconTwitter a:hover {
  background-position: 0 -56px;
}

#iconFeed a {
  background-position: -56px 0;
}

#iconFeed a:hover {
  background-position: -56px -56px;
}

/* content
------------------------------ */

#content {
  margin-bottom: 50px;
}

#content:after {
  content: '';
  display: block;
  clear: both;
}

/* main
------------------------------ */
#visual {
  margin-bottom: 50px;
}

#main {
  float: left;
  width: 700px;
  font-size: 13px;
}

#main .mainHeading h2 {
  padding: 0 0 5px 10px;
  margin-top: 0;
  border-bottom: solid 3px #000000;
}

#main .mainContent ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#main .mainContent ul li {
  margin-bottom: 10px;
}

#main .mainContent ul li a {
  background: url(../img/arrow01.gif) no-repeat 10px center;
  padding: 0 0 0 32px;
  text-decoration: none;
  color: #191919;
}

#main .mainContent ul li a:visited {
  text-decoration: none;
  color: #191919;
}

#main .mainContent ul li a:hover,
#main .mainContent ul li a:active {
  text-decoration: underline;
  color: #0099FF;
}

/* side
------------------------------ */

#side {
  width: 170px;
  float: right;
}

#side .bnrList{
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
}

/* footer
------------------------------ */

#footer {
  background-color: #000000;
  font-size: 13px;
}

#footer p {
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 4px 0 5px;
  line-height: 1.5;
}